@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main-container {
  max-width: 1280px;
  margin: auto;
  min-height: 90vh;
  padding: 32px 64px;
}

nav {
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: 0 32px;
}

footer {
  display: flex;
  align-items: center;
  padding: 0 32px;
  min-height: 200px;
}

nav .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.nav-left-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.light-theme-selector-icon,
.dark-theme-selector-icon {
  background-color: transparent;
  border-radius: 4px;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  font-size: 1.5rem;
  height: 1em;
  margin: 4px;
  padding: 8px 16px;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  user-select: none;
  width: 1em;
}

.light-theme-selector-icon {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87)
}

.light-theme-selector-icon:hover {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
}

.dark-theme-selector-icon:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 920px) {
  .main-container {
    padding: 16px 32px;
  }

  nav {
    padding: 0 16px;
  }
}